a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

body {
    background: #000000 url(../img/body_bg.jpg) no-repeat center 0;
    background-attachment: fixed;
}

#header {
    background: url(../img/header_bg.png) repeat;
}
